body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #000;
    display: flex;
    padding: 0;
}
.heart{
    background-color: cadetblue;
    height: 70px;
    width: 70px;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #5f9ea5;
    animation: heart 0.6s linear infinite;
}
@keyframes heart{
    0%{
        transform: rotate(-45deg) scale(1.07);
    }
}

.heart:before{
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: cadetblue;
    top: -50%;
    box-shadow: -10px -10px 90px #5f9ea5;
}
.heart:after{
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: cadetblue;
    right: -50%;
    box-shadow: 10px 10px 90px #5f9ea5;
}
.text{
    text-align:center;
    color: #5f9ea5;
    position: absolute;
    margin-top: 20%;
}